.row {
  display: flex;
  align-items: flex-start;
  width: 95vw;
  
}

.letterRow {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-left: 5vw;
  padding-right: 5vw;
  text-align: center;

}

.hangmanState {
  height: 30vmin;
  block-size: auto;
  max-inline-size: 30%;
  margin: 5%;
}

.leftStatus {
  margin: 5%
}

.h2 {
  word-wrap: break-word;
  text-align: center;
}

.p {
  font-weight: bold;
  text-align: center;
}

.textStatus {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.wordLines {
  font-weight: 400px;
  word-break: break-all;
  text-align: center;
}

.button {
  appearance: none;
  background: none;
  font-size: 4vh;
  outline: none;
  border: 2px solid transparent;
  color: #FFFFFF;
  padding-bottom: 4px;
  cursor: pointer;
  background-color: #7D99FE;
  border-radius: 10px;
  transition: all 0.15s;
  margin: 0.5vh;
  table-layout: fixed;
  width: 7vh;
}

.hintButton {
  appearance: none;
  background: none;
  font-size: 20wh;
  outline: none;
  border: 2px solid transparent;
  color: #FFFFFF;
  padding-bottom: 4px;
  cursor: pointer;
  background-color: #fe7da4;
  border-radius: 10px;
  transition: all 0.15s;
  margin: 0.5%;
  table-layout: fixed;
  width: 20vw;
}

.buttonPressed {
  appearance: none;
  background: none;
  font-size: 4vh;
  outline: none;
  border: 2px solid transparent;
  color: #FFFFFF;
  padding-bottom: 4px;
  cursor: pointer;
  background-color: #7D99FE;
  border-radius: 10px;
  transition: all 0.15s;
  margin: 0.5vh;
  table-layout: fixed;
  width: 7vh;
  opacity: 0.4;
}

.button:hover,
.button:focus {
  border: 2px solid rgba(112, 76, 182, 0.4);
}

.button:active {
  background-color: rgba(112, 76, 182, 0.2);
}

.wordLines {
  font-weight: bold;
}