.side {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.letterRow {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  max-width: 700px;
  margin: auto;
}

.responsive {
  max-width: 55%;
  height: auto;
  /* height: 30vh; */
  /* block-size: auto; */
  /* max-inline-size: 50%; */
  /* margin-top: 6vh; */
}

.leftStatus {
  margin: 5%;
}

.h2 {
  word-wrap: break-word;
  text-align: center;
  font-size: calc(20px + 1vh);
}

.p {
  font-weight: bold;
  text-align: center;
  font-size: calc(10px + 1vh);
}

.textStatus {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.wordLines {
  font-weight: 400px;
  word-break: break-all;
  text-align: center;
}

.button {
  appearance: none;
  background: none;
  font-size: calc(10px + 1vh);
  outline: none;
  border: 2px solid transparent;
  color: #FFFFFF;
  cursor: pointer;
  background-color: #6f81a5;
  border-radius: 10px;
  transition: all 0.15s;
  margin: 0.5vh;
  table-layout: fixed;
  width: 6vh;
  height: 6vh;
  font-weight: bold;
}

.hintButton {
  appearance: none;
  background: none;
  font-size: 15px;
  outline: none;
  border: 2px solid transparent;
  color: #FFFFFF;
  padding-bottom: 4px;
  cursor: pointer;
  background-color: #fe7da4;
  border-radius: 50%;
  transition: all 0.15s;
  margin: 0.5%;
  table-layout: fixed;
  width: 60px;
  height: 60px;
}

.hintButton:hover {
  transform: scale(1.1);
  background: #ff9cba;
}

.buttonPressed {
  appearance: none;
  background: none;
  font-size: calc(10px + 1vh);
  font-weight: bold;
  outline: none;
  border: 2px solid transparent;
  color: #FFFFFF;
  cursor: pointer;
  background-color: #6f81a5;
  border-radius: 10px;
  transition: all 0.15s;
  margin: 0.5vh;
  table-layout: fixed;
  width: 6vh;
  height: 6vh;
  opacity: 0.6;
}

.button:hover,
.button:focus {
  border: 2px solid rgba(112, 76, 182, 0.4);
}

.button:active {
  background-color: rgba(112, 76, 182, 0.2);
}

.wordLines {
  font-weight: bold;
}