.row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100vh;
}

.letterRow {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-left: 18%;
  padding-right: 18%;
  text-align: center;
}

.hangmanState {
  height: 30vmin;
  margin: 5%;
}

.leftStatus {
  margin: 5%
}

.h2 {
  margin: 0;
  padding: 0;
  word-wrap: break-word;
  text-align: center;
}

.p {
  font-weight: bold;
}

.textStatus {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.wordLines {
  font-weight: 400px;
  margin-top: 25vh;
  word-break: break-all;
}

.button {
  appearance: none;
  background: none;
  font-size: 32px;
  outline: none;
  border: 2px solid transparent;
  color: #FFFFFF;
  padding-bottom: 4px;
  cursor: pointer;
  background-color: #7D99FE;
  border-radius: 10px;
  transition: all 0.15s;
  margin: 0.5%;
  table-layout: fixed;
  width: 7vh;
}

.button1 {
  appearance: none;
  background: none;
  font-size: 32px;
  outline: none;
  border: 2px solid transparent;
  color: #FFFFFF;
  padding-bottom: 4px;
  cursor: pointer;
  background-color: #7D99FE;
  border-radius: 10px;
  transition: all 0.15s;
  margin: 0.5%;
  table-layout: fixed;
  width: 7vh;
  opacity: 0.4;
}

.button:hover,
.button:focus {
  border: 2px solid rgba(112, 76, 182, 0.4);
}

.button:active {
  background-color: rgba(112, 76, 182, 0.2);
}

.wordLines {
  font-weight: bold;
}