
.mainPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
    color: #71c8ff;
    font-weight: bold;
    font-size: 30px;
    margin-top: 10vh;
}