
.mainPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #71c8ff;
    font-weight: bold;
    font-size: 30px;
    margin-top: 10vh;
}

.endGameBtn {
    background-color: #71c8ff !important;
    border: none !important;
}

.endGameBtn:hover {
    background-color: #3eb5ff !important; 
}