@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap");

.themePage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: a4e4da;
    color: white;
    font-weight: bold;
    font-size: 30px;
    height: 100vh;
    background-color: #a4e4da;
}

.themeBtn {
    background-color: white;
    border: none;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    color: gray;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin: 4px 2px;
    transition: transform .2s;
}

.themeBtn:hover {
    box-shadow: inset 300px 0 0 0 aliceblue;
    cursor: pointer;
    color: #71c8ff;
    transform: scale(1.1); 
}

@media screen and (max-width: 800px){
    .btn{
        width: 25vw;
        height: 16vh;
        font-size: 3.2vw;
    }
    
}

@media screen and (max-width: 500px){
    .btn{
        width: 35vw;
        height: 16vh;
        font-size: 5vw;
    }
    
}

@media screen and (max-width: 300px){
    .btn{
        width: 50vw;
        height: 16vh;
        font-size: 7vw;
    }
    
}