.banner {
    display: flex;
    position:fixed;
    top:0;
    background-color: #a4e4da;
    width:100%;
    height: 8vh;
    z-index:100;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;

}

.logo {
    height: 5vh;
}

.logoTitle {
    display: flex;
    text-decoration: none;
    justify-content: center;
    margin: 10px 5vw;
}

.username {
    margin: 10px 5vw;
    font-size: calc(10px + 2vh);
    color: white;
}

.title {
    color: white;
    margin-left: 5px;
    font-size: calc(10px + 2vh);
}